<!DOCTYPE html>
<html lang="en">
    <%-include(../layout/head.ejs)%>

<body>
    <%-include(../layout/header.ejs)%>

    <main class="main">
        <div class="indexdiv">
        <% data.forEach(elem =>{%>
           <h3><%=elem.character%></h3>
           <p><%=elem.quote%></p>
           <img src="<%=elem.image%>" alt="">

           <form action="/favorite-quotes" method="POST">
            <input type="hidden" name="character" value="<%=elem.character%>">
            <input type="hidden" name="quote" value="<%=elem.quote%>">
            <input type="hidden" name="image" value="<%=elem.image%>">
               <button type="submit">fav qoutes</button>
           </form>
           <%})%>
        </div>
    </main>
</body>
</html>